<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <h4 class="mb-4">Fashion Store</h4>
        <p>Cung cấp các sản phẩm thời trang chất lượng cao với giá cả hợp lý. Chúng tôi cam kết mang đến trải nghiệm mua sắm tuyệt vời nhất cho khách hàng.</p>
        <div class="d-flex mt-3">
          <a href="#" class="me-3 text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
          <a href="#" class="me-3 text-white"><i class="fab fa-instagram fa-lg"></i></a>
          <a href="#" class="me-3 text-white"><i class="fab fa-twitter fa-lg"></i></a>
          <a href="#" class="me-3 text-white"><i class="fab fa-youtube fa-lg"></i></a>
        </div>
      </div>
      
      <div class="col-md-2 mb-4">
        <h5 class="mb-4">Liên kết</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/" class="text-white text-decoration-none">Trang chủ</a></li>
          <li class="mb-2"><a href="/products" class="text-white text-decoration-none">Sản phẩm</a></li>
          <li class="mb-2"><a href="/about" class="text-white text-decoration-none">Giới thiệu</a></li>
          <li class="mb-2"><a href="/contact" class="text-white text-decoration-none">Liên hệ</a></li>
          <li class="mb-2"><a href="/blog" class="text-white text-decoration-none">Blog</a></li>
        </ul>
      </div>
      
      <div class="col-md-3 mb-4">
        <h5 class="mb-4">Danh mục</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/products?category=ao" class="text-white text-decoration-none">Áo</a></li>
          <li class="mb-2"><a href="/products?category=quan" class="text-white text-decoration-none">Quần</a></li>
          <li class="mb-2"><a href="/products?category=vay" class="text-white text-decoration-none">Váy</a></li>
          <li class="mb-2"><a href="/products?category=giay" class="text-white text-decoration-none">Giày</a></li>
          <li class="mb-2"><a href="/products?category=phu-kien" class="text-white text-decoration-none">Phụ kiện</a></li>
        </ul>
      </div>
      
      <div class="col-md-3 mb-4">
        <h5 class="mb-4">Thông tin liên hệ</h5>
        <ul class="list-unstyled">
          <li class="mb-3"><i class="fas fa-map-marker-alt me-2"></i> 123 Đường ABC, Quận 1, TP. HCM</li>
          <li class="mb-3"><i class="fas fa-phone-alt me-2"></i> 0123 456 789</li>
          <li class="mb-3"><i class="fas fa-envelope me-2"></i> support@fashionstore.com</li>
          <li class="mb-3"><i class="fas fa-clock me-2"></i> 8:00 - 21:00, T2 - CN</li>
        </ul>
      </div>
    </div>
    
    <div class="row mt-4 pt-4 border-top border-secondary">
      <div class="col-md-6 text-center text-md-start">
        <p class="mb-md-0">© 2023 Fashion Store. Tất cả quyền được bảo lưu.</p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <h5 class="mb-3">Phương thức thanh toán</h5>
        <div class="payment-icons">
          <i class="fab fa-cc-visa me-2 fa-2x"></i>
          <i class="fab fa-cc-mastercard me-2 fa-2x"></i>
          <i class="fab fa-cc-paypal me-2 fa-2x"></i>
          <i class="fas fa-money-bill-wave fa-2x"></i>
        </div>
      </div>
    </div>
  </div>
</footer>

<a id="back-to-top" class="back-to-top">
  <i class="fas fa-arrow-up"></i>
</a> 